.jumbotron{
background-color:whitesmoke;
padding-left: 3px;
margin-top: 20px;
}
.pic{
    width: 100%;
    height: 80%;
    padding: 20px;
    margin:0px;    
   box-shadow: 0px 10px 10px 0;
}

/* .pic:hover{
border-radius: 40px;
box-shadow: 0 4px 8px rgba(0, 0, 0, .3px);
} */

.main{
justify-content: center;
}
.hi1{
    margin-left: 700px;
    padding-left: 20px;
}
.ig1{
    padding-left: 60px;
}
.camera{
    font-size: 50px;
   position:relative;
   top: 40px;
}

.ii1{
    font-size: 25px;
    margin-left: 65px;
    padding:10px;
}
.nav-item1{
    margin-left:2px;
    
}